/* Basic Cycle2 configuration */

.cycle-slideshow {
  /* Positioning */
  z-index: 0;
}

.cycle-slideshow img {
  /* Box model */
  box-shadow: none;
  border-radius: 0;
}

/* Gallery */

.cycle-slideshow.gallery {
  /* Box model */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.cycle-pager-gallery {
  /* Display */
  display: flex;
  flex-flow: row;
  /* Box model */
  margin: 0.4rem auto 0;
}

.cycle-pager-gallery a {
  /* Box model */
  margin: 0 0.2rem;
}

.cycle-pager-gallery img {
  /* Display */
  display: block;
  flex: 1;
  /* Box model */
  height: 100%;
  width: 100%;
}