body {
  /* Box model */
  margin: 0;
  padding: 0;
  /* Background */
  background: #f0f0f0;
  /* Typography */
  color: #333333;
  font-family: sans-serif;
}

a {
  /* Typography */
  color: #1e88e5;
  text-decoration: none;
}

* {
  /* Box model */
  box-sizing: border-box;
}

/*
 * Header
 */

header {
  /* Box model */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  /* Background */
  background: #ffffff;
}

header a {
  /* Box model */
  display: flex;
  flex-flow: row;
  justify-content: center;
}

header img {
  /* Box model */
  height: 140px;
  margin: 1px;
  width: 140px;
}

header span {
  /* Box model */
  margin: auto 0;
  /* Typography */
  color: #333333;
  font-size: 3rem;
}

/*
 * Banner
 */

aside {
  /* Background */
  background: #333333;
}

aside .container {
  /* Box model */
  margin: 0 auto;
  max-width: 960px;
}

aside img {
  /* Box model */
  display: block;
  height: 100%;
  width: 100%;
}

/*
 * Navbar
 */

nav {
  /* Positioning */
  position: sticky;
  top: -1px;
  z-index: 1;
  /* Box model */
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-bottom: 0.6rem;
  /* Background */
  background: #ffffff;
}

nav a {
  /* Box model */
  padding: 0.6rem 1.8rem;
  /* Typography */
  font-size: 1.2rem;
  /* Animation */
  transition: linear 0.2s;
}

nav a:not(.navtoggle):hover {
  /* Background */
  background: rgba(0, 0, 0, 0.1);
}

nav a.navtoggle {
  /* Box model */
  display: none;
}

/*
 * Page content
 */

/* Content container */

article {
  /* Box model */
  margin: 0 auto;
  max-width: 960px;
}

/* Section */

section {
  /* Box model */
  margin: 0 0.6rem 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  /* Typography */
  color: #333333;
  /* Background */
  background: #ffffff;
}

/* Title */

section h1 {
  /* Box model */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0.6rem;
  /* Typography */
  color: #0097A7;
  font-weight: normal;
  font-size: 1.4rem;
}

section .content {
  /* Box model */
  padding: 0.6rem;
}

/*
 * Section components
 */

section h2 {
  /* Typography */
  font-size: 1.2rem;
}

section p {
  /* Typography */
  line-height: 1.4;
}

/*
 * Equal width columns.
 * Use .cols on parent, .col on children,
 * and append first / last on first/last columns.
 */

section .cols {
  /* Box model */
  display: flex;
  flex-flow: row;
  /* Typography */
  text-align: justify;
}

section .cols .col {
  /* Box model */
  flex: 1;
  padding: 0 0.6rem;
}

section .cols .col.first {
  /* Box model */
  padding-left: 0;
}

section .cols .col.last {
  /* Box model */
  padding-right: 0;
}

section img {
  /* Box model */
  border-radius: 0.2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* Iframes */

section .iframe {
  /* Positioning */
  overflow: hidden;
  position: relative;
  /* Box model */
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  height: 0;
  width: 100%;
}

section .iframe iframe {
  /* Positioning */
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
  /* Box model */
  height: 100%;
  width: 100%;
}

/* Iframe variants: 4:3 and 16:9. Append to other parameters */

section .iframe.iframe43 {
  /* Box model */
  padding-bottom: 75%;
}

section .iframe.iframe169 {
  /* Box model */
  padding-bottom: 56.25%;
}

/* Inputs */

section input,
section textarea {
  /* Box model */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  padding: 6px;
}

section input:focus,
section textarea:focus {
  /* Box model */
  border-color: #1e88e5;
  outline: none;
}

section input[type="text"],
section input[type="password"],
section textarea {
  /* Box model */
  margin-bottom: 10px;
  /* Background */
  background: #fafafa;
}

section textarea {
  /* Box model */
  min-height: 80px;
  width: 100%;
}

section input[type="button"],
section input[type="submit"] {
  /* Box model */
  padding: 8px 12px;
  /* Typography */
  color: #ffffff;
  /* Background */
  background: #1e88e5;
}

section form p {
  /* Box model */
  margin: 0;
}

/*
 * Footer
 */

footer {
  /* Box model */
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  /* Typography */
  color: #333333;
  text-align: center;
  /* Background */
  background: #ffffff;
}

footer p {
  /* Box model */
  margin: 0 0 0.6rem;
}