/*
 * Mobile config
 */

@media all and (max-width: 640px) {
  /*
   * Header
   */
  header a {
    /* Box model */
    flex-flow: column;
  }
  header img {
    /* Box model */
    height: 80px;
    margin: 1px auto;
    width: 80px;
  }
  header span {
    /* Typography */
    font-size: 1.6rem;
    text-align: center;
  }
  /*
   * Navbar
   */
  nav {
    /* Display */
    flex-flow: column;
    /* Typography */
    text-align: center;
  }
  nav a:not(.navtoggle) {
    /* Display */
    display: none;
    /* Box model */
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  nav a:not(.navtoggle).responsive {
    /* Box model */
    display: inline;
  }
  nav a.navtoggle {
    /* Box model */
    display: inline;
    /* Typography */
    color: #f57c00;
  }
  nav a.navtoggle.responsive {
    /* Background */
    background: #fafafa;
  }
  /*
   * Content
   */
  article h1 {
    /* Typography */
    text-align: center;
  }
  article .cols {
    /* Display */
    flex-flow: column;
  }
  article .cols .col {
    /* Box model */
    padding: 0;
  }
  article input,
  article textarea {
    /* Box model */
    width: 100%;
  }
}